{% extends "./include/base.html.twig" %}

{% block title %}
	Workspace
{% endblock %}
{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/workspace.css">
{% endblock %}
{% block content %}
	<header>
		<div class="searchBar">
			<input type="text" id="search" placeholder="Search">
		</div>
	</header>
	<section>
		{% for item in data %}
			<div class="classe">
				<p> {{ item.name }} </p>
			</div>
		{% endfor %}
	</section>
{% endblock %}
